<div>
    <h1>Hola que gusto encontrarte aca {{user.name}}</h1>
    {{#if isAdmin}}
        {{#each food}}
    <div>
        <p>{{this.name}}</p>
        <p>{{this.price}}</p>
    </div>
        {{/each}}
    {{else}}
    <p>no tienes permiso</p>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>